src/main/resources/NotificationBroker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NotificationBroker" targetNamespace="urn:com.prokarma.app.middleware:enterprise-event-bus:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.prokarma.app.middleware:enterprise-event-bus:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com.prokarma.app.middleware:enterprise-event-bus:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.prokarma.app.middleware:enterprise-event-bus:1.0">
  <xs:element name="notification" type="tns:notification"/>
  <xs:complexType name="notification">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="publisher" type="xs:string"/>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="notify" type="tns:notify"/>
  <xs:complexType name="notify">
    <xs:sequence>
      <xs:element minOccurs="0" name="notification" type="tns:notification"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="notify">
    <wsdl:part name="parameters" element="tns:notify">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NotificationBrokerPortType">
    <wsdl:operation name="notify">
      <wsdl:input name="notify" message="tns:notify">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationBrokerSoapBinding" type="tns:NotificationBrokerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="notify">
      <soap:operation soapAction="notify" style="document"/>
      <wsdl:input name="notify">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationBroker">
    <wsdl:port name="NotificationBrokerPort" binding="tns:NotificationBrokerSoapBinding">
      <soap:address location="http://localhost:8080/eeb/NotificationBroker"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
