src/main/resources/NotificationBroker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NotificationBroker"
	targetNamespace="urn:com.prokarma.app.middleware:enterprise-event-bus:1.0"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.prokarma.app.middleware:enterprise-event-bus:1.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="urn:com.prokarma.app.middleware:enterprise-event-bus:1.0"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="urn:com.prokarma.app.middleware:enterprise-event-bus:1.0">
			<xs:element name="notification" type="tns:notification" />
			<xs:complexType name="notification">
				<xs:sequence>
					<xs:element name="message" type="xs:string" />
					<xs:element name="publisher" type="xs:string" />
					<xs:element name="topic" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="notify" type="tns:notify" />
			<xs:complexType name="notify">
				<xs:sequence>
					<xs:element minOccurs="0" name="notification" type="tns:notification" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="forward" type="tns:forward" />
			<xs:complexType name="forward">
				<xs:sequence>
					<xs:element minOccurs="0" name="query" type="tns:query" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="query">
				<xs:sequence>
					<xs:element name="topic" type="xs:string" />
					<xs:element name="subscriber" type="xs:string" />
					<xs:element name="from" type="xs:date" />
					<xs:element name="to" type="xs:date" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="notify">
		<wsdl:part name="parameters" element="tns:notify">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="forward">
		<wsdl:part name="parameters" element="tns:forward">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="NotificationBrokerPortType">
		<wsdl:operation name="notify">
			<wsdl:input name="notify" message="tns:notify">
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="forward">
			<wsdl:input name="forward" message="tns:forward"></wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NotificationBrokerSoapBinding" type="tns:NotificationBrokerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="notify">
			<soap:operation soapAction="notify" style="document" />
			<wsdl:input name="notify">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="forward">
			<soap:operation soapAction="forward" style="document"/>
			<wsdl:input name="forward">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>	
	<wsdl:service name="NotificationBroker">
		<wsdl:port name="NotificationBrokerPort" binding="tns:NotificationBrokerSoapBinding">
			<soap:address location="http://localhost:8080/eeb/NotificationBroker" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
